{% block footer %}

<footer class="bg-dark text-white pt-5 pb-4 fixed-bottom" style="position: fixed;">
    <div class="container-sm text-center text-md-left">
         <div class="row justify-content-around text-center text-md-left ml-3">
               <div class="col-md-3 col-lg-3 col-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                     COMPANY NAME
                  </h5>
                  <p>
                     Here I can use to write columns and rows to organize the footer content.
                  </p>
               </div>

               <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                     Contact
                  </h5>
                  <p>
                     <i class="fa fa-address-book mr-3">Tivat, NME</i>
                  </p>
                  <p>
                     <i class="fas fa-envalope mr-3">email@email.com</i>
                  </p>
                  <p>
                     <i class="fas fa-phone mr-3">+382600000000</i>
                  </p>
                  <p>
                     <i class="fas fa-print mr-3">+3826011111111</i>
                  </p>
               </div>  

               <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning ">Useful links</h5>
                  <p>
                     <a href="#" class="text-white" style="text-decoration: none;">Your account</a>
                  </p>
                  <p>
                     <a href="#" class="text-white" style="text-decoration: none;">Become affiliate</a>
                  </p>
                  <p>
                     <a href="#" class="text-white" style="text-decoration: none;">Shipping rates</a>
                  </p>
                  <p>
                     <a href="#" class="text-white" style="text-decoration: none;">Help</a>
                  </p>
               </div>

               <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning ">Products</h5>
               </h5>
               <p>
                  Services
               </p>
               <p>
                  <a href="#" class="text-white" style="text-decoration: none;">
                  Cretivity
                  </a>
               </p>
               <p>
                  <a href="#" class="text-white" style="text-decoration: none;">
                  SourceFiles
                  </a>
               </p>
               <p>
                  <a href="#" class="text-white" style="text-decoration: none;">
                  Bootstrap 5 alpha
                  </a>
               </p>
               </div>

               <hr class="mb-4">

               <div class="row align-items-center">
                  <div class="col-md-6 col-lg-8 col-xl-12 mt-4">
                     <p>Copyright @2023 all rights reserved:  <a href="#" style="text-decoration: none;"><strong>The Ar</strong></a></p>
                  </div>
               </div>
         </div>
   </div>
</footer>

 

{% endblock %}